p{
  font-family: Arial;
  margin-top: 0;
}
.text-1{
  font-weight: bold;
  font-size: 18px;
  width: 280px;
  line-height: 24px;
  margin-bottom: 5px;

}
.text-2{
  font-size: 14px;
  color: rgb(96,96,96);
  margin-bottom: 20px;
}
.text-3{
  font-size: 14px;
  color:rgb(96,96,96) ;
  margin-bottom: 20px;
}
.text-4{
  font-size: 14px;
  color:rgb(96,96,96) ;
  width: 280px;
  line-height: 22px;
  margin-bottom: 100px;

}
.apple-text{
  margin-bottom: 50px;
  font-size: 14px;
  background-color: rgb(227, 65, 64);
  color: white;
  padding: 16px;
  text-align: center;
}
.shop-link{
  cursor: pointer;
}
.shop-link:hover{
  text-decoration: underline;

}